.dropdownContainer {
    width: 300px;
    height: 60px;
    position: absolute;
    line-height: 60px;
    text-align: center;
    visibility: visible;
    border: 2px solid cyan;
    background-color: rgba(0, 255, 255, 0.3);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /*font-size: 24px;*/
    color: cyan;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.containerCollapsed {
    background-color: rgba(0, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.dropdownText:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

.dropdownSelectable {
    width: 100%;
    /*height: 40px;*/
    /*line-height: 40px;*/
    text-align: center;
    visibility: visible;
    border: 2px solid cyan;
    position: relative;
    margin-left: -2px;
    margin-top: -1px;
    background-color: rgba(0, 255, 255, 0.2);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: cyan;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.dropdownSelectable:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

.dropdownCollapsed {
    /*position: absolute;*/
    /*top: 0;*/
    height: 0;
    line-height: 0;
    opacity: 0;
    font-size: 0;
    transition: all 0.3s ease;
}

.dropdownExpanded {
    height: 40px;
    line-height: 40px;
    opacity: 1;
    transition: all 0.3s ease;
}

.dropdownSelected {
    background-color: rgba(0, 255, 255, 0.7)        !important;
}
