/*

                                      .,,,;;,'''..
                                  .'','...     ..',,,.
                                .,,,,,,',,',;;:;,.  .,l,
                               .,',.     ...     ,;,   :l.
                              ':;.    .'.:do;;.    .c   ol;'.
       ';;'                   ;.;    ', .dkl';,    .c   :; .'.',::,,'''.
      ',,;;;,.                ; .,'     .'''.    .'.   .d;''.''''.
     .oxddl;::,,.             ',  .'''.   .... .'.   ,:;..
      .'cOX0OOkdoc.            .,'.   .. .....     'lc.
     .:;,,::co0XOko'              ....''..'.'''''''.
     .dxk0KKdc:cdOXKl............. .. ..,c....
      .',lxOOxl:'':xkl,',......'....    ,'.
           .';:oo:...                        .
                .cd,      ╔═╗┌┬┐┬┌┬┐┌─┐┬─┐    .
                  .l;     ║╣  │││ │ │ │├┬┘    '
                    'l.   ╚═╝─┴┘┴ ┴ └─┘┴└─   '.
                     .o.                   ...
                      .''''','.;:''.........
                           .'  .l
                          .:.   l'
                         .:.    .l.
                        .x:      :k;,.
                        cxlc;    cdc,,;;.
                       'l :..   .c  ,
                       o.
                      .,

              ╦ ╦┬ ┬┌┐ ┬─┐┬┌┬┐  ╔═╗┌┐  ┬┌─┐┌─┐┌┬┐┌─┐
              ╠═╣└┬┘├┴┐├┬┘│ ││  ║ ║├┴┐ │├┤ │   │ └─┐
              ╩ ╩ ┴ └─┘┴└─┴─┴┘  ╚═╝└─┘└┘└─┘└─┘ ┴ └─┘ (not even) Alpha


 *
 *
 * Created by Valentin on 10/22/14.
 *
 * Copyright (c) 2015 Valentin Heun
 *
 * All ascii characters above must be included in any redistribution.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *

 **********************************************************************************************************************
 ******************************************** TODOS *******************************************************************
 **********************************************************************************************************************

 **
 * TODO -
 **

 **********************************************************************************************************************
 ******************************************** style content ***********************************************************
 **********************************************************************************************************************/
* {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
   -webkit-user-select: none;
    -webkit-touch-callout:none;
}




body {
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;

    /* -webkit-user-select: none;  Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #ffffff;
    /*background-color: black;*/
}

.main {
    -webkit-transform-style: preserve-3d;
    visibility: hidden;
    z-index: 1;
    position: fixed; /**/
    margin: 0;
    /*padding: 0;*/
    border-width: 0px;
    /*-webkit-user-select: none;    Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

    /* Trick to enable anti-aliasing of iframes (see: https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome) */ 
    padding: 1px;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    /* May also need to enable... */
    /*-webkit-backface-visibility: hidden;*/
}

.mainProgram {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    width: 100%;
    height: 100%;
}


.mainEditing {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    z-index: 99;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.mainCanvas {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    opacity: 0.5;
    /*background:repeating-linear-gradient(-45deg, transparent, transparent 22px, rgba(1, 255, 1, 0.5) 22px, rgba(1, 255, 1, 0.5) 44px);*/
    /*border: 10px dashed green;*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2, 1);
    pointer-events:none; /*stops canvas from capturing touches so they propogate to elements behind it*/
    
    display: none;

    /* Trick to enable anti-aliasing of iframes (see: https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome) */
    /*padding: 1px;*/
    /*-webkit-background-clip: content-box;*/
    /* May also need to enable... */
    /*-webkit-backface-visibility: hidden;*/
}

.mainCanvas > svg {
    /* Trick to enable anti-aliasing of iframes (see: https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome) */
    padding: 1px;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
}

.mainProgramInvalid {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background:repeating-linear-gradient(-45deg, transparent, transparent 22px, rgba(255, 1, 1, 0.5) 22px, rgba(255, 1, 1, 0.5) 44px);
    -webkit-filter: contrast(200%);
    /*border: 10px dashed green;*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}




.iframe {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    /*  -webkit-user-select: none;  Disable selection/Copy of UIWebView */
  /*  background-color: rgba(0, 0, 0, 0.5);*/
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}

.frameHistoryGhost {
    /*width: 400px;*/
    /*height: 300px;*/
    /*border: 5px solid black;*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-color: rgba(0, 0, 0, 0.05);*/
    border: 5px dashed rgba(0, 0, 0, 0.3);
}

.frameHistoryGhostDeleted {
    /*width: 400px;*/
    /*height: 300px;*/
    /*border: 5px solid black;*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-color: rgba(0, 0, 0, 0.05);*/
    border: 5px dashed rgba(255, 0, 124, 0.3);
}

.markerPlaneElement {
    background-color: rgba(0,255,255,0.5);
    position: absolute;
    opacity: 0.9;
}

.svgDefaultState {
    display: none;
}

#zoneConnectionSwitch {
    position: fixed;
    left: 30px;
    top: 30px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    visibility: visible;
    border: 2px solid cyan;
    background-color: rgba(0, 255, 255, 0.3);
}

.connectionSwitchPulse {
    background-color: rgba(0, 255, 255, 0);
    animation-name: pulseBackgroundBlue;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

@keyframes pulseBackgroundBlue {
    0% {
        background-color: rgba(0, 255, 255, 0.3);
    }
    100% {
        background-color: rgba(0, 255, 255, 0.0);
    }
}

/*
.contentRotation {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 0) scale3d(1, 1, 1);

}*/
/*
#consolelog {
    visibility: hidden;
    -webkit-transform-style: preserve-3d;

    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.50);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}*/
#consolelog {
    display: none;
}

#preferences {
    display: none;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #969696;

    -webkit-transform: translateZ(3000px);
}

#craftingBoard {
    display: none;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    /*width: 506px;*/
    /*width: 568px;*/
    /*height: 320px;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: rgba(20,20,20,0.5);*/
    /*background-color: transparent;*/
    background-color: rgba(0,0,0,0.3); /* just barely not transparent... tints the background */
    
    /*-webkit-backdrop-filter: blur(30px);*/

    /*background-color: #969696;*/
    -webkit-user-select: none;
    user-select: none;

    -webkit-transform: translateZ(3000px);
    z-index: 10;
}

@keyframes blurVisible {
    0% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
}

@keyframes blurInvisible {
    0% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
    100% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}

.craftingBoardBlur {

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    animation-name: blurVisible;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;

}

.craftingBoardClear {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    animation-name: blurInvisible;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

.centerVerticallyAndHorizontally {
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.centerVertically {
    position:absolute; /*it can be fixed too*/
    /*left:0; right:0;*/
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}


.Interfaces {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
/*
.interfaceSourceURL {
 /*   -webkit-user-select: text;*/
/*}*/

#content1 {
    position: fixed;
    left: 5%;
    top: 7%;
    right: 58%;
    bottom: 10%;

    background-color: #a0a0a0;
}

.PrefTitle {
    position: relative;
    float: left;
    height: 50px;
    width: 50%;
    box-sizing: border-box;
    background-color: #aaaaaa;
}

#content1Padding {
    height: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#content11 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content12 {
    padding: 5px;
    padding-left: 13px;
    text-align: center;
}

#content13 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content14 {
    padding: 5px;
    padding-left: 13px;
    text-align: center;
}

#content15 {
    padding-top: 5px;
    padding-left: 13px;
    vertical-align: middle;
    text-align: left;
}

#content16 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content20 {
    width: 100%;
    height: 55px;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    padding-right: 13px;
    text-align: left;
}

#newURLText {
    font-size: large;
    -webkit-user-select: text;
}

#content30 {
    height: 55px;
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content31 {
    height: 55px;
    right:0px;
    padding: 5px;
    padding-left: 0px;

    text-align: center;
}

#content18 {
    height: 320px;
    width: 100%;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: left;
}

#contentPadding {
    height: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#content1title {
    position: fixed;
    left: 5%;
    top: 2%;
    right: 58%;
    bottom: 89%;

    font-size: 18pt;

    text-align: center;
}

#content2 {
    position: fixed;
    left: 47%;
    top: 7%;
    right: 17%;
    bottom: 10%;

    background-color: #a0a0a0;
}

#content2title {
    position: fixed;
    left: 47%;
    top: 2%;
    right: 17%;
    bottom: 89%;

    font-size: 18pt;

    text-align: center;
}

.memoryBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    z-index: 0;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -10000, 1);
}

.memoryBackgroundImage {
    width: 100%;
    height: 100%;
}

.memoryBar {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    z-index: 5;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

/* TODO: spec interaction between clear sky and pocket
.clearSky .memoryBar {
    visibility: hidden;
}
*/

.memoryContainer, #overlay.overlayMemory, .memory, .element-template {      /* #overlay.overlayLogicNode */
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid #00FFFF;
    width: calc(18vw - 18px);
    height: calc(18vw - 18px);
    overflow: hidden;
}

.memoryContainer {
    height: calc(10vh + 10px);
    border: none;
    background-color: rgba(0,0,0,0.5);
}

.memoryContainer.availableContainer {
    border: 3px solid cyan;
    background-color: rgba(0,127,127,0.3);
}

.memoryContainer.selectedContainer {
    border: 3px solid cyan;
    background-color: rgba(0,255,255,0.5);
}

.nodeMemoryContainer {
    height: calc(20vw - 18px);
}

#overlay.overlayMemory {
    background-position: center center;
    background-size: cover;
}

#overlay.overlayLogicNode {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 0px;
    background-image: url("../svg/logicNode.svg");
}

.element-template {
    /*border-color: white;*/
    border: none;
    margin: 3px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.memoryContainer.memoryPointer {
    box-sizing: border-box;
    border: 3px solid #00FFFF;
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

.memoryContainer.memoryPointer.remembering {
    border: 6px solid #00ff00;
    width: 180px;
    height: 180px;
    margin-left: -90px;
    margin-top: -90px;
    transition: all 1.0s;
}

.memoryContainer {
    margin: 3px;
}

.memoryNode {
    width: calc(20vw - 44px);
    height: calc(20vw - 44px);
    background: black;
    border: 10px solid cyan;
    border-radius: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#overlay.overlayMemory, .memoryWeb > .memoryContainer {
    border-radius: 0;
    position: absolute;
    margin-left: calc(-0.5 * (20vw - 18px));
    margin-top: calc(-0.5 * (20vw - 18px));
}

.memoryDragContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 4;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,2px);
}

.memoryPointerContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.memory {
    display: block;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    object-fit: cover;
    object-position: center;
}

.memoryContainer > .memory {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    display: none;
    pointer-events: none;
    position: fixed;

    box-sizing: border-box;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;

    border: 4px solid #01fffc;
    border-radius: 60px;

    /* this is a hack for adding the interface in front of the transformed web interface */
    z-index: 3;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(6000px);
}

#overlay.overlayPositive,
#overlay.overlayNegative,
#overlay.overlayAction {
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    border-radius: 120px;
}

#overlay.overlayScreenFrame {
    border-color: #3AF431;
}

#overlay.overlayPositive {
  border-color: #3AF431;
}

#overlay.overlayNegative {
  border-color: #FF019F;
}

#overlay.overlayAction {
  border-color: #F9F90A;
}

.objectEntry {
    position: relative;
    float: left;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    display: table-cell;
    background-color: #a0a0a0;
    -webkit-transform-style: preserve-3d;
}

.objectName {
    width: 34%;
}

.objectIP {
    width: 30%;
}

.objectVersion {
    width: 14%;
}

.objectIO {
    width: 11%;
}

.objectLinks {
    width: 11%;
}

.Canvas {
    visibility: visible;
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    z-index: 5;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 5, 1);
    pointer-events: none;
}


#p5jsCanvas {
    visibility: visible;
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    z-index: 20;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 20, 1);
    pointer-events: none;
}

#glcanvas {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    pointer-events: none;
    z-index: 5;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 5, 1);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 5, 1);
}

#mainThreejsCanvas {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.ignorePointerEvents {
    pointer-events: none;
}

.usePointerEvents {
    pointer-events: auto;
}

.visibleFrameContainer {
    display: inline;
    visibility: visible;
}

.hiddenFrameContainer {
    /*display: none;*/
    display: inline;
    visibility: visible;
    pointer-events: none;
}

.visibleFrame {
    visibility: visible;
    /*opacity: 1.0;*/
}

.hiddenFrame {
    visibility: visible;
    opacity: 0.4;
    pointer-events: none;
}

.webGlFrame {
    opacity: 1 !important;
}

.visibleNodeContainer {
    display: inline;
}

.hiddenNodeContainer {
    display: none;
}

.displayNone {
    display: none;
}

.ignoreAllTouches {
    pointer-events: none;
}

.inTransitionFrame {
    opacity: 0.7;
}

.outsideOfViewport {
    display: none;
}

.distantFrame {
    display: none;
}

.distanceUI {
    width: 200px;
    height: 200px;
    /*width: 100%;*/
    /*height: 100%;*/
    transform-origin: center;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(0,255,255,0.1);
    visibility: visible;
    /*transform: rotateX(90deg);*/
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

#distanceUI2 {
    border: 20px solid goldenrod;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -20px;
    margin-top: -20px;
    transform: translateZ(10000px);
}

.visibleEditingSVG {
    /*visibility: visible;*/
    /*display: inline;*/
    visibility: hidden;
}

.hiddenForDistance {
    display: none;
}

#settingsIframe {
    background-color: #222222;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(9000px);
    -webkit-transform: translateZ(9000px);
    z-index: 900; /* always appear on top */
}

/*
*
*
Logic Interface CSS

*/

@keyframes scaleIn {
    0% {
        visibility: visible;
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        visibility: hidden;
        opacity: 0;
    }
}

.scaleIn {
    visibility: visible;
    animation-name: scaleIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.scaleOut {
    visibility: hidden;
    animation-name: scaleOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
}

#blocks {
    position: absolute;
    top: 0;
    left: 0;
}

#blockPlaceholdersContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.blockPlaceholderRow {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

.visibleFadeIn {
    opacity: 1;

    animation-name: fadeIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.invisibleFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

.blockPlaceholder {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: rgba(0,0,0,0.3);
}

.blockPlaceholderLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: rgba(0,0,0,0.3);
}

.blockPlaceholderLabel {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.columnHighlight {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.columnHighlightLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#datacraftingCanvas {
    position: absolute;
    left: 0;
    top: 0;
}

#datacraftingEventDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.blockDivPlaced {
  box-sizing: border-box;
  position: absolute;
  color: white;
  user-select:none;
  -webkit-user-select:none;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  background-color: rgba(0,0,0,0.7);
  border: 2px solid rgba(0,255,255,0.5);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.blockDivHighlighted {
  box-sizing: border-box;
  position: absolute;
  color: white;
  user-select:none;
  -webkit-user-select:none;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  background-color: rgba(0,0,0,0.7);
  border: 2px solid rgba(0,255,255,0.5);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* block settings */

.settingsContainer {
  background-color: transparent;
  position: absolute;
  left: 100px;
  top: 0;
  width: calc(100vw - 62px);
  height: 320px;
  border: none;
}

/* block menu */

#menuContainer {
  position: absolute;
}

#menuBlockContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 320px;
}

.menuBlockRow {
    height: 83px;
}

#menuSideContainer {
  position: absolute;
  left: 398px;
  top: 0;
  width: 106px;
  height: 320px;
}

.menuBlock {
  width: 92px;
  height: 46px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 3.5px;
  margin-bottom: 18px;
}

.menuBlockContents {
  width: 100%;
  height: 100%;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient:vertical;
  user-select:none;
  -webkit-user-select:none;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
  overflow: hidden; /* crop the icon to the size of the container */
}

.blockIcon {
    position: absolute;
  text-align: center;
    height: 100%;
    overflow: hidden;
  user-select:none;
  -webkit-user-select:none;
}

.blockIconTinted {
    background-color: rgba(0,0,0,0.25); /* add a slight background in case the icon didn't have one */
}

.blockIconPlaced {
    height: 106%;
    width: 106%;
}

.blockBox {
    display: inline-block;
}

.blockTitle {
  text-align: center;
  width: 100%;
  bottom: -22px;
  position: absolute;
  color: rgb(247, 209, 71);
}

.blockMoveDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menuTab {
  width: 106px;
  height: 59.5px;
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.menuTabSelected {
  width: 106px;
  height: 59.5px;
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.menuTabIcon {
  height: 100%;
}

.blockDivMovingAbleBorder {
    border: 2px solid rgb(0,255,0) !important;
}

.blockDivMovingUnableBorder {
    border: 2px solid rgb(255,0,124) !important;
}

.blockDivMovingSaveOrDeletableBorder {
    border: 2px solid rgb(255,255,0) !important;
}

.blockDivMovingAble {
    /*border: 2px solid rgb(0,255,0);*/
    /*background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(0, 255, 0) 16px, rgb(0, 255, 0) 32px);*/
}

.blockDivMovingUnable {
    /*border: 2px solid rgb(255,0,124);*/
    /*background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,0,124) 16px, rgb(255,0,124) 32px);*/
}

.blockDivMovingSaveOrDeletable {
    /*border: 2px solid rgb(255,255,0);*/
    /*background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,255,0) 16px, rgb(255,255,0) 32px);*/
}

.memoryWeb {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 4;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    background-color: rgba(17, 55, 55, 0.7);
}

.pocket {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(3000px); /* Above web interfaces, below side buttons */
    /*background-color: rgba(17, 55, 55, 0.7);*/
    background-color: rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(10px);
    display: none;
}

.pocket.pocketShown {
    display: block;
}

.palette {
    width: calc(100% - 10vw);
    padding-top: 16px;
    padding-bottom: 16px;
}

.palette-element {
    width: 100%;
    height: 100%;
    border: 0;
    transform-origin: 0 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}

.palette-element-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: #01fffc;
    font-size: 10px;
    pointer-events: none;
}

#speechConsole {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#pocketScrollContainer {
    /*background-color: #B7B7B7; !*#969696;*!*/
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 62px);
    height: calc(100vh);
}

#pocketScrollBar {
    position: absolute;
    right: 75px;
    top: 5px;
    height: calc(100vh - 15px);
    width: 70px;
    /*border: 3px solid cyan;*/
    /*border-radius: 10px;*/
}

.pocketScrollBarSegment {
    position: absolute;
    /*border: 3px solid cyan;*/
    border-radius: 5px;
    width: 70px;
    height: calc(100vh - 30px);
    left: 0;
    top: 15px;
    background-color: rgba(0,0,0,0.5);
}

.pocketScrollBarSegmentTouched {
    background-color: rgba(0,255,255,0.3);
}

/* The inside piece of a scrollbar that is currently selected */
.pocketScrollBarSegmentActive {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgba(0,255,255,0.6);
}

#pocketTargetObjectLabel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    color: rgba(0,255,255);
}

.snappableFrame {
    opacity: 0.6;
}

#desktopBackgroundRenderer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: transparent;
}

.groupSVGElement {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position:absolute;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.groupLassoFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout:none;
}

@keyframes delayedFadeOut {
    0% {
        opacity:1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.groupOutlineFadeOut {
    opacity:1;

    animation-name: delayedFadeOut;
    animation-duration: 1500ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout:none;
}

.corners {
    position: absolute;
    width: 100px; /* for demo purposes */
}

.cornersTop, .cornersBottom {
    position: absolute;
    width: 10px;
    height: 10px;
}

.cornersTop {
    top: 0;
    border-top: 2px solid cyan;
}

.cornersBottom {
    bottom: 0;
    border-bottom: 2px solid cyan;
}

.cornersLeft {
    left: 0;
    border-left: 2px solid cyan;
}

.cornersRight {
    right: 0;
    border-right: 2px solid cyan;
}

.outline {
    position: absolute;
    border: 2px solid cyan;
}

.envelopeMenuButton {
    position: absolute;
    width: 60px;
    height: 60px;
    /* this is a hack for adding the interface in front of the transformed web interface but behind the pocket*/
    -webkit-transform: translateZ(2900px);
    z-index: 2900;
}

#exitEnvelopeButton {
    left: 30px;
    top: 0;
}

#minimizeEnvelopeButton {
    left: 90px;
    top: 0;
}

.hoverPocketElement {
    background-color: rgba(0,0,0,0.7);
    /*border: 1px solid cyan;*/
    /*padding: -1px;*/
}

.highlightedPocketElement {
    background-color: rgba(0,255,255,0.5);
    border: 5px solid cyan;
}

.highlightedPocketElement:hover {
    background-color: rgba(0,255,255,0.4);
    border: 5px solid cyan;
}

.animateAllProperties250ms {
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}

.animateAllProperties500ms {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.envelopeAnimationDiv {
    background-color: rgba(255, 255, 255, 0.5);
    visibility: visible;
}

.transitioningToFullscreen {
    display: none;
}

.envelopeFadingIn {
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
}

.anchorContents {
    width: 300px;
    height: 300px;
    position: relative;
    transform: scaleY(-1);
}

.anchorContentsFullscreen {
    width: 100vw;
    height: 100vh;
    transform: scaleY(1) !important; /* override scaleY(-1) when fullscreen */
}

.anchorContentsPlaced {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.anchorCorner {
    position: absolute;
    height: 20vh;
    width: 20vh;
}

.anchorCenter {
    position: relative;
    height: 60vh;
    width: 60vh;
}

.anchorTextField {
    position: absolute;
    color: white;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: bottom;
    right: 1%;
    top: 52%;
    height: 9%;
}

.hiddenAnchor {
    display: none;
    pointer-events: none;
}

.anchorContainerFullscreen {
    display: unset;
    pointer-events: unset;
}

.hiddenButtons {
    display: none;
    pointer-events: none;
}

.groundPlaneVisualizer, .groundPlaneOrigin {
    width: 100px;
    height: 100px;
    position: relative;
}

.statusBar {
    position: absolute;
    left: 80px;
    top: 0;
    width: calc(100vw - 220px);
    height: 30px;
    color: white;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: rgba(0,0,0,0.7);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    line-height: 30px;
    animation: dropIn 300ms ease-out;
    transition: height 300ms ease-out;
}

.statusBarPortrait {
    left: 40px;
    width: calc(100vw - 100px); /* centers, including padding */
}

@keyframes dropIn {
    0% { top: -40px }
    100% { top: 0 }
}

.statusBarHidden {
    display: none;
    pointer-events: none;
}

.statusBarText {
    padding: 10px;
    font-size: 14px;
}

.statusTextLong {
    line-height: unset;
    height: 44px;
}

.hiddenWhileLoading {
    display: none;
}

.hiddenEnvelopeContents {
    display: none;
}

.captureButtonInactive {
    opacity: 0.3;
    pointer-events: none;
}

#recordPointCloudsButton {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    bottom: 20px;
    z-index: 3000;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(3000px); /* Above web interfaces, below side buttons */
}

.suppressedRendering {
    display: none;
    visibility: hidden;
}

.avatarBeamLabel, .timelineBoardLabel {
    position: absolute;
    color: white;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3000;
    transform-style: preserve-3d;
    /* translateZ puts it above web interfaces, below side buttons */
    /* translateX and Y centers it when you set its left and top */
    /* in JS, we can adjust its size using scale (since it's centered) */
    transform: translateX(-50%) translateY(-50%) translateZ(3000px);
}

.avatarBeamLabel {
    display: none; /* hidden by default, need to overwrite this to display it */
    pointer-events: none;
    color: white;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    text-align: center;
    vertical-align: middle;
}

.timelineBoardLabel {
    width: auto;
    font-size: 14px;
    padding: 0 4px;
    transform: translate3d(0, 0, 3000px);
    transition: opacity 0.5s;
    white-space: nowrap;
}

.topLeftInfoText {
    pointer-events: none;
    position: absolute;
    width: 100vw;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 3000;
    transform: translateZ(3000px);
}


#avatarIconContainer {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

.avatarListIcon {
    position: absolute;
    width: 30px;
    height: 30px;
}

.avatarListIconImage {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.avatarListIconInitials {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    pointer-events: none;
}

#avatarListHoverName {
    position: absolute;
    left: 0;
    top: 40px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    transform: translateX(-50%);
    opacity: 0.7;
}

#avatarListTooltipArrow {
    position: absolute;
    left: 50%;
    top: 2px;
    transform: translateX(-50%) translateY(-100%);
    width: 16px;
    height: 8px;
}

#analytics-container {
    position: absolute;
    top: 30;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2800;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2800, 1);
    pointer-events: none;
}

#analytics-timeline-container {
    position: absolute;
    bottom: calc(30px + 30px + 68px + 30px - 12px);
    left: 50%;
    max-width: 1024px;
    width: 100%;
    transform: translateX(-50%);
    pointer-events: all;
}

.analytics-timeline {
    width: 100%;
}

.analytics-region-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    font-size: 14px;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 22px;
    position: absolute;
    left: 50%;

    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 14px;

    z-index: 3000;
    transform: translate3d(-50%, 0, 3000px);
}

.analytics-region-card.minimized > *:not(.analytics-region-card-title) {
    display: none;
}

.analytics-region-card.minimized {
    padding: 14px;
    height: 14px;
    line-height: 14px;
    white-space: nowrap;
}

.analytics-region-card.pinAnimation {
    transition: top 0.7s, left 0.7s;
    transform: translateZ(3000px);
}

.analytics-region-card.pinned {
    position: relative;
    margin: 10px 0;
    transform: translateZ(3000px);
    width: fit-content;
}

.analytics-pinned-region-cards-container {
    position: absolute;
    top: 80px;
    left: 35px;
    padding: 0;
    pointer-events: all;
}

.analytics-region-card-title {
    grid-column-start: span 3;
}

.analytics-region-card-subtitle {
    grid-column-start: span 3;
    border-bottom: 1px solid #999;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.analytics-region-card-graph-section-title {
    grid-column: 1;
}

.analytics-region-card-graph-section-sparkline {
    grid-column-start: span 2;
    stroke: white;
    fill: none;
}

.analytics-region-card-graph-section-value {
}

.analytics-region-card-pin, .analytics-region-card-view {
    grid-column: 1;
    text-decoration: none;
    color: white;
}
.analytics-region-card-pin:visited, .analytics-region-card-view:visited {
    color: white;
}
