#modalFade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(2px);
    -webkit-transform: translateZ(8990px)
}

#modalContainer {
    position: absolute;
    width: 60vw;
    height: 60vh;
    left: 20vw;
    top: 20vh;
    text-align: center;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border-radius: 5px;
    -webkit-transform: translateZ(9000px)
}

#modalDescription {
    position: absolute;
    width: 50vw;
    height: 30vh;
    left: 5vw;
    top: 5vh;
    display: table;
}

#modelDescription p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.modalButton {
    position: absolute;
    width: 25vw;
    height: 7vh;
    line-height: 7vh;
    padding: 3vh;
    top: 26.5vh;
}

#modalCancel {
    left: 5vw;
    width: 15vw;
}

#modalSubmit {
    right: 5vw;
}

.buttonGreen {
    color: rgb(41,253,47);
    border: 2px solid rgb(41,253,47);
    background-color: rgba(41,253,47,0.05);
}

.buttonRed {
    color: rgba(255, 1, 159, 1);
    border: 2px solid rgba(255, 1, 159, 1);
    background-color: rgba(255, 1, 159, 0.05);
}

.buttonRed:active {
    background-color: rgba(255, 1, 159, 0.3);
}

.buttonBlue {
    color: rgb(45,255,255);
    border: 2px solid rgb(45,255,255);
    background-color: rgba(45,255,255,0.05);
}

.buttonBlue:active {
    background-color: rgba(45,255,255,0.3);
}

.buttonPurple {
    color: rgb(210,113,255);
    border: 2px solid rgb(210,113,255);
    background-color: rgba(210,113,255,0.05);
}

.buttonPurple:active {
    background-color: rgba(210,113,255,0.3);
}

.buttonYellow {
    color: rgb(255,255,45);
    border: 2px solid rgb(255,255,45);
    background-color: rgba(255,255,45,0.05);
}

.buttonYellow:active {
    background-color: rgba(255,255,45,0.3);
}

.buttonWhite {
    color: rgb(255,255,255);
    border: 2px solid rgb(255,255,255);
    background-color: rgba(255,255,255,0.05);
}

.buttonWhite:active {
    background-color: rgba(255,255,255,0.3);
}

.buttonHidden {
    visibility: hidden;
    color: rgba(255,255,255,0.0);;
    background-color: rgba(255,255,255,0.0);
}

@keyframes modalFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes modalFadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

.modalVisibleFadeIn {
    opacity: 1;

    animation-name: fadeIn;
    animation-duration: 250ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.modalInvisibleFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 250ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

/* Styles for 2D modal with grey background, header, description, and buttons */
/* blurs the background behind the modal */
#modalFadeClassic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(40px);
    -webkit-transform: translateZ(8990px)
}
/* container for the modal */
#modalContainerClassic {
    position: absolute;
    width: calc(100vw - 80px);
    left: 10px;
    top: 5vh;
    height: 90vh;
    text-align: left;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    -webkit-transform: translateZ(8995px);
    color: black;
}
#modalContainerClassicCentered {
    position: absolute;
    width: calc(100vw - 260px);
    left: 100px;
    top: 25vh;
    height: 50vh;
    text-align: center;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    -webkit-transform: translateZ(8995px);
    color: black;
}
#modalHeaderClassic {
    position: relative;
    text-align: left;
    padding-left: 30px;
    width: 100%;
    height: 10vh;
    top: 5vh;
    font-size: 3vw;
}
#modalDescriptionClassic {
    position: relative;
    width: 90%;
    height: 25vh;
    left: 5%;
    top: 5vh;
    display: table;
    font-size: 2vw;
}
/* Buttons for the modal */
.modalButtonClassic {
    position: absolute;
    width: 25vw;
    height: 5vh;
    line-height: 5vh;
    padding: 3vh;
    bottom: 5vh;
    border-radius: 5px;
    background-color: white;
    color: rgb(80,80,80);
    font-size: 2vw;
    text-align: center;
}
.modalButtonClassic:active {
    background-color: rgba(0, 0, 0, 0.5);
}
#modalCancelClassic {
    left: 5vw;
}
#modalSubmitClassic {
    right: 5vw;
    width: 30vw;
}


a.modalLink:link { color:#494a4b;}
a.modalLink:visited { color: #494a4b; }
a.modalLink:hover { color: #686869; }
a.modalLink:active { color: #757575; }

/* Styles for 2D modal with grey background, header, description, and buttons */
/* blurs the background behind the modal */
#modalFadeNotification {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(20px);
    -webkit-transform: translateZ(8990px)
}

@keyframes blurThenClear {
    0% {
        -webkit-backdrop-filter: blur(20px);
    }
    100% {
        -webkit-backdrop-filter: blur(3px);
    }
}

.modalBlurOut {
    -webkit-backdrop-filter: blur(20px);

    animation-name: blurThenClear;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

/* container for the modal */
#modalContainerNotification {
    position: absolute;
    width: calc(100vw - 260px);
    left: 100px;
    top: 25vh;
    height: 30vh;
    text-align: center;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    -webkit-transform: translateZ(8995px);
    color: black;
}
.notificationPortrait {
    left: calc((100vw - min(800px, calc(100vw - 80px))) / 2) !important;
    top: calc(50vh - 50px) !important;
    width: min(800px, calc(100vw - 80px)) !important;
    height: 100px !important;
}
#modalHeaderNotification {
    position: relative;
    /*text-align: left;*/
    /*padding-left: 30px;*/
    width: 100%;
    height: 10vh;
    top: 5vh;
    font-size: 16px;
}
.notificationHeaderPortrait {
    top: 3vh !important;
    font-size: 24px !important;
    height: unset !important;
}
#modalDescriptionNotification {
    position: relative;
    width: 100%;
    height: 25vh;
    /*left: 5%;*/
    top: 50%;
    display: table;
    font-size: 12px;
}
.notificationDescriptionPortrait {
    font-size: 16px !important;
}
/* Buttons for the modal */
.modalButtonNotification {
    position: absolute;
    width: min(720px, calc(100vw - 160px));
    left: 0;
    top: 35vh;
    height: 5vh;
    line-height: 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 5px;
    background-color: white;
    color: rgb(80,80,80);
    font-size: 12px;
    text-align: center;
}
.modalButtonNotification:active {
    background-color: rgba(0, 0, 0, 0.5);
}
/*#modalCancelNotification {*/
/*    left: 5vw;*/
/*}*/

.loaderContainer {
    height: 50vh !important;
}

.loaderContainerPortrait {
    height: max(32vh, 32vw) !important;
    top: calc(50vh - max(32vh, 32vw)/2) !important;
}

.loader {
    position: relative;
    left: calc(50% - 20px);
    top: calc(50% - 70px);
    border: 6px solid #f3f3f377;
    border-top: 6px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#scanGenerateProgressBarContainer {
    position: absolute;
    left: calc((100vw - min(800px, calc(100vw - 80px))) / 2);
    width: min(800px, calc(100vw - 80px));
    height: 15px;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 15px;
    overflow: hidden;
    transform: translateZ(8991px); /* in front of blurred modalFadeNotification */
}

#scanGenerateProgressBar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255,255,255, 0.9);
}
