.settingsIcon {
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-bottom: -5px;
    
    pointer-events: none;
}

.description {
    color: #b1b1b1;
    margin-left: 5px;
}

.settingTextField {
    position: absolute !important;
    height: 35px !important;
    width: 200px !important;
    top: 4px;
    right: 75px;
}

.settingURLView {
}

.slider {
    /* thin grey horizontal line */
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 300px;
    height: 2px;
    background-color: rgb(200,200,200);
    overflow: visible;
}

.slider-fill {
    /* thin blue horizontal line to overlap the grey line behind it */
    width: 150px;
    height: 2px;
    background-color: #1a9bcb;
    position: absolute;
    left: 0;
    top: 0;
}

.slider-handle {
    /* circular slider handle modeled after the circle from toggle components */
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform, border, width;
    -moz-transition-property: -moz-transform, border, width;
    transition-property: transform, border, width;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
