.status-page-container {
    margin: 4em auto;
    max-width: 1000px;
    width: 90vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 100000;
    position: absolute;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    font-size: 0.75em;
}

.status-page-header {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.status-page-title {
    font-size: 3em;
    font-weight: bold;
}

.status-page-button {
    padding: 6px 12px;
    background-color: #1F1F1F;
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    
    &:hover {
        background-color: #3F3F3F;
    }
}

.status-page-entry {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5em;
}

.status-page-data-container {
    display: flex;
    flex-direction: column;
}

.status-page-data {
    max-width: 80vw;
    overflow-wrap: anywhere;
    color: #AAAAAA;
    &.status-page-failed {
        color: #EE0000;
    }
    .status-page-hide-data & {
        display: none;
    }
}

.status-page-indicator {
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
    border: 1px solid white;
    flex-shrink: 0;
    &.status-page-in-progress {
        width: 0.2em;
        height: 0.2em;
        border: 4px dotted orange;
        animation: status-page-rotate 4s linear infinite;
    }
    &.status-page-passed {
        border-color: black;
        background-color: green;
    }
    &.status-page-failed {
        border-color: black;
        background-color: red;
    }
}

.status-page-name {
    font-weight: bold;
}

.status-page-duration {
    font-weight: normal;
    color: #AAAAAA;
}

@keyframes status-page-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
