.table-view-wrapper {
    user-select: none;
}
.table-view-header {
    font-weight: bold;
}
.table-view-header-image {
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}
.table-view-row-header {}
.table-view-column-header {}
.table-view-data-modified:after {
    color: lightsteelblue;
    content: '*';
}
.table-view-wrapper table {
    border-collapse: collapse;
    border: 2px solid white;
    text-wrap: nowrap;
}
.table-view-wrapper th, .table-view-wrapper td {
    border: 1px solid #AAAAAA;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.table-view-wrapper td:hover {
    filter: brightness(85%);
}
.table-view-wrapper td.selected {
    filter: brightness(75%);
}
.table-view-wrapper td.selected:hover {
    filter: brightness(55%);
}
.table-view-wrapper td.editing {
    background-color: darkgreen;
}
.table-view-wrapper td.selected.editing {
    background-color: darkgreen;
}
.table-view-wrapper td.selected.editing:hover {
    background-color: green;
}
